p {
    font-family: Roboto Slab;



}


html {
    background-color: rgb(5, 11, 54);

}





header {
    background-color: rgb(20, 28, 89);
    padding: 25px;
    display: flex;
    justify-content: space-between;
}



* {

    font-family: Roboto Slab;
    font-size: 20pt;
    font-style: normal;
    font-weight: lighter;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.home_page_header {
    display: flex;
    gap: 10px;
}



header ul {
    list-style: none;
    display: flex;
    gap: 45px;
    align-items: center;
    justify-content: end;



}


a {
    color: rgb(255, 255, 255);
}

footer {
    padding: 25pt;
    background-color: rgb(9, 9, 96);
    color: rgb(220, 220, 220);
    bottom: 0px;
    text-decoration: underline;
    text-align: end;
}

main {
    min-height: calc(100vh - 50px);
    display: flex;
    font-size: 15px;
    flex-direction: column;
    padding: 10px;





}

.web_page_header {
    display: flex;
    align-items: center;
    gap: 10px;



}

.home_page_header {
    display: flex;
    gap: 10px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
}

header ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 253);
}

a {
    color: rgb(10, 40, 91);
    text-decoration: none;
}

main {
    padding: 10px;
    min-height: calc(100vh - 50px);
    display: flex;
    gap: 10px;
    color: rgb(5, 11, 54);
}

.text_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.about_text {
    padding-left: 20px;
}

.content_divider {
    background-color: rgb(5, 11, 54);
    color: rgb(5, 11, 54);
    height: 4px;
}

.side_pic {
    width: 50%;
    border-radius: 25px;
    border: 8px solid rgb(214, 215, 222);
    text-align:right;
    float:right;
}

.about_content p img {
    width: 120px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;

}