* {

    font-family: 'Times New Roman', Times, serif;



}

html {

    background-color: rgb(137, 207, 240);




}

header {
    background-color: rgb(27, 82, 95);
    color: rgb(11, 11, 11);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

* {

    font-family: 'Times New Roman', Times, serif;






}

.home_page_header {
    display: flex;
    gap: 10px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
}

header ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(11, 11, 11);
}

a {
    color: rgb(11, 11, 11);
}